---

---
<footer class="flex flex-wrap py-4  items-center flex-col md:flex-row md:justify-between justify-center  gap-6  text-muted-foreground container mx-auto" >
    <small class=" order-last block text-center text-sm md:order-first">© {new Date().getFullYear()} Bouzahar Anis, All rights reserved</small>  <div class="flex gap-4 text-sm "><a
        href="/terms-privacy"
        class="relative inline-block text-gray-300 hover:text-white cursor-pointer
         before:content-[''] before:absolute before:left-0 before:bottom-0 before:h-[1px]
         before:w-0 before:bg-violet-600/60 before:transition-all before:duration-300
         hover:before:w-full"
>
    Terms & Privacy
</a>

    <a
            href="/cookies"
            class="relative inline-block text-gray-300 hover:text-white cursor-pointer
         before:content-[''] before:absolute before:left-0 before:bottom-0 before:h-[1px]
         before:w-0 before:bg-violet-600/60 before:transition-all before:duration-300
         hover:before:w-full"
    >
        Cookies Policy
    </a>
</div>
</footer>